{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "worker": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "no-const-assign": "warn",
    "no-this-before-super": "warn",
    "no-undef": "warn",
    "no-unreachable": "warn",
    "no-unused-vars": [
      "warn", { "argsIgnorePattern": "^_" }
    ],
    "constructor-super": "warn",
    "valid-typeof": "warn"
  },
  "globals": {
    "_ivm": true,
    "_log": true,
    "cache": true,
    "registerMiddleware": true,
    "middleware": true,
    "session": true,
    "app": true,
    "mocha": true,
    "_mocha_done": true,
    "fly": true,
    "Body": true
  }
}